//foundation
@use "foundation";

//layout
@use "layout";

//object
@use "object/component/c-button.scss";
@use "object/component/c-button--menu.scss";
@use "object/project/p-logo.scss";
@use "object/component/c-button--serch.scss";
@use "object/project/p-serch.scss";
@use "object/component/c-page-title";
@use "object/project/p-tophead";
@use "object/component/c-content-title";
@use "object/component/c-content-title--to";
@use "object/component/c-content-title--ei";
@use "object/component/c-location-title";
@use "object/component/c-location-article";
@use "object/component/c-card-article";
@use "object/project/p-menu-sub";
@use "object/component/c-footer-link";
@use "object/project/p-copyright";
@use "object/project/p-header";
@use "object/project/p-serchform";
@use "object/project/p-article--front";
@use "object/project/p-content--front--to";
@use "object/project/p-card--front";
@use "object/project/p-content--front--ei";
@use "object/project/p-location";
@use "object/project/p-sidebar";
@use "object/project/p-footer";
@use "object/component/c-wrapper-main";
@use "object/component/c-wrapper-wide";
@use "object/project/p-black-layer";
@use "object/project/p-card-flex";
@use "object/project/p-tophead--archive";
@use "object/utility/u-page-title--sub";
@use "object/project/p-article--archive";
@use "object/project/p-card--archive";
@use "object/project/p-card--archive--article";
@use "object/component/c-content-title--archive";
@use "object/component/c-content-title--sub";
@use "object/component/c-card-article--archive";
@use "object/component/c-button--detail";
@use "object/project/p-pagenation";
@use "object/component/c-pagenation";
@use "object/utility/u-pagenation";
@use "object/utility/u-button--pagenation";
@use "object/component/c-button--page-text";
@use "object/component/c-button--pagenation";
@use "object/project/p-tophead--single";
@use "object/project/p-article--single";
@use "object/project/p-quote";
@use "object/project/p-single-img--top";
@use "object/project/p-card--single";
@use "object/project/p-glid";
@use "object/utility/u-article-img--single";
@use "object/project/p-list--number";
@use "object/project/p-list--none";
@use "object/project/p-tag-text";
@use "object/project/p-table";
@use "object/utility/u-button--l";
@use "object/project/p-bold-text";
@use "object/project/p-tophead--page";