@use "../../foundation/" as f;

.p-content--front--to{
    background-image: url(../../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.jpg);
    background-size: cover;
    max-width:f.$tab;
    margin:10px;
    padding:10px 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    }

@include f.tab{
.p-content--front--to{
    max-width:617px;
    margin-right: 20px;
    padding:10px 5px;
    }
}