@use "../../foundation/f-index" as f;

.p-card--archive--article{
    background-color: f.$color-darkbrown;
    display: flex;
    flex-direction: column;
    flex-basis:50%;
    padding:20px 20px;

    .c-content-title--archive{
        overflow: hidden;
        font-size: 20px;
        margin:10px;
    }

    h4{
        margin:5px 10px;
        font-size: 16px;
        color:f.$color-white;
    }

    p{
        margin:10px 10px;
        color:f.$color-white;
        font-weight: 400;
    }

    .wp-block-read-more{
        display:none;
    }

    .c-button--detail{
        height: 40px;
        width: 50%;
        padding: 5px 5px;
        margin:10px;
        align-self: center;
    }
}
/*pc*/
@include f.pc{
    .p-card--archive--article{
        padding:40px 40px;
        .c-content-title--archive{
            font-size: 30px;
            margin:20px;
        }

        h4{
            margin:10px 20px;
            font-size: 24px;
        }
        p{
            margin:20px 20px;
        }
        .c-button--detail{
            height: 50px;
            width: 40%;
            padding: 5px 20px;
            margin:20px;
        }
    }
}
