
@use "../../foundation/" as f;

.p-content--front--ei{
    background-image: url(../../img/oneburgerandpotate.jpg);
    background-size: cover;
    max-width:f.$tab;
    margin:10px;
    padding:10px 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

@include f.tab{
    .p-content--front--ei{
    max-width:617px;
    margin-left: 20px;
    padding:10px 5px;
    }
}