@use "../../foundation/" as f;
.p-glid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:20px;
    width:92vw;
    margin-top: 30px;
    
    .p-item{
        object-fit: contain;
        width:100%;
        img{
            width:100%;
            height:100%;
        }
    }
}

//pc
@include f.pc{
    .p-glid{
        grid-template-columns: 1fr 1fr 1fr;
        width:72vw;
    }
}