ol{
    margin-bottom: 40px;
    font-weight: 400;
    margin:20px 0;
    
        li{
            list-style: decimal;
            line-height: 1.5;
            margin-left: 6vw;
        }
    }
    ul{
        font-weight: 400;
        margin:20px 0;
    
        li{
            list-style: none;
            line-height: 1.5;
            margin-left: 4vw;
        }
    }
