@use "../../foundation/f-index" as f;

.wp-pagenavi{
    display: flex;
    color:f.$color-gray;
    justify-content: space-between;
    
    .pages{
        display:none;
        border:none;
    }
    .current{
        display:none;
        background-color: f.$color-darkbrown;
        color: f.$color-white;
    }
    .previouspostslink,.nextpostslink{
        border:none;
    }
    
}
/*tab*/
@include f.tab{
    .wp-pagenavi{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:20px;
        
        .pages{
            display:block;
        }

        .current{
            display:block;
        }
    }
}