@use "../../foundation/f-index" as f;

.p-serchform{
    position:relative;

    /*虫眼鏡マークは疑似要素*/
    &::before{
        content: url(../../img/serch.png);
        display:inline-block;
        width:auto;
        height:auto;
        position:absolute;
        padding:15px;
    }

    .p-search-form__keyword{
    height:46px;
    width:40vw;
    background-color: f.$color-white;
    border: 1px solid;
    border-color: f.$color-gray;
    border-radius: 10px;
    padding-left: 60px;
   }
}

form .p-serchform{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@include f.pc{
    .p-serchform{
        .p-search-form__keyword{
            width:15vw;
        }
    }
    
}
