@use "../../foundation/f-index" as f;

.p-serch{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
//tab
@include f.tab{
    
}
//pc
@include f.pc{
    
}