@use "../../foundation/f-index" as f;

.p-serchform{
    position:relative;
    height:46px;
    margin:5px 0;
    width:80vw;

    /*虫眼鏡マークは疑似要素*/
    &::before{
        content: url(../img/serch.png);
        display:inline-block;
        width:auto;
        height:auto;
        position:absolute;
        padding:15px;
    }

    .p-search-form__keyword{
    height:46px;
    width:50vw;
    background-color: f.$color-white;
    border: 1px solid;
    border-color: f.$color-gray;
    color:f.$color-gray;
    border-radius: 10px;
    padding: 0 10px 0 60px;
   }
}

form .p-serchform{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:40vw;
    margin-left: 60px;
}
.c-button--serch{
    margin:5px 10px;
    height:46px;
    width:15vw;
}
//tab
@include f.tab{
    form .p-serchform{
        width:20vw;
    }
}
@include f.pc{
    .p-serchform{
        width:25vw;
        
        .c-button--serch{
        width:5vw;
        }
        .p-search-form__keyword{
            width:15vw;
        }
    }
    
}
