@use "../../foundation/f-index" as f;
.p-tophead--single{
    object-fit: cover;
    height:225px;
    display: flex;
    align-items: center;

    .c-page-title{
        margin-left: 4vw;
        font-size: 36px;
    }
}
//tab
@include f.tab{
    .p-tophead--single{
        height:505px;
        .c-page-title{
            font-size: 60px;
        }
    }
}
//pc
@include f.pc{
    .p-tophead--single{
        height: 285px;
    }
}