@use "../../foundation/" as f;

.p-tophead{
    background-image: url(../../../img/mainvisual-sp.jpg);
    background-size: cover;
    height:285px;
    display:flex;
    align-items:center;

    .c-page-title{
        margin-left: 4vw;
    }  
}
@include f.tab{
    .p-tophead{
        background-image: url(../../../img/mainvisual-tab.jpg);
    }
}
@include f.pc{
    .p-tophead{
        background-image: url(../../../img/mainvisual-pc.jpg);
        height:530px;
    }
}