@use "../../foundation/" as f;

.p-tophead--archive{
    background-image: url(../../../img/page-title_arcive.jpg);
    background-size: cover;
    height:285px;
    display:flex;
    align-items:center;

        .c-page-title{
            margin-left: 4vw;
            font-size: 60px;
        }  

        .u-page-title--sub{
            margin: 10px;
        }

}

//PC
@include f.pc{
    .p-tophead--archive{
        height: 239px;;
    }

}