@use "../../foundation/f-index" as f;
.p-tophead--page{
    height:225px;
    display: flex;
    align-items: center;

    .c-page-title{
        margin-left: 4vw;
        font-size: 36px;
        z-index:10;
    }
}

.wp-block-cover{
    margin:0;
    padding:0;
    height: 225px;
    object-fit: cover;
    z-index:1;
}
//tab
@include f.tab{
    .p-tophead--page{
        height:505px;
        .c-page-title{
            font-size: 60px;
        }
    }
    .wp-block-cover{
        height:505px;
    }
}


//pc
@include f.pc{
    .p-tophead--page{
        height: 285px;
    }
    .wp-block-cover{
        height:285px;
    }
}
