@use "../foundation/" as f;

.l-sidebar{
    top:0;
    width:0;
    transition: all .6s;
    white-space: nowrap;
    position:absolute;
    overflow-x: hidden;

    //pc
    @include f.pc{
        display: block;
        width: 19%;
        background-color: f.$color-darkbage;
        right:0;
    }

}

/*Menuクリック後*/
.c-wrapper-wide{
    .l-sidebar.is-active{
        width:87%;
        max-height: 100vh;
        height:100%;
        background-color: f.$color-darkbage;
        position: absolute;
        top: 0;
        right: 0;
        overflow-y: scroll;
        z-index: 100;
    }

    @include f.tab{
       .l-sidebar.is-active{
            width:40%;
        }
    }
}